.styled-titleSubtitle {
  width: 100%;
}

.styled-titleSubtitle.textAlign {
  text-align: center;
}

.styled-titleSubtitle-header {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.41;
}

.styled-titleSubtitle-sub {
  margin-bottom: 45px;
}
