.styled-tableCard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f4f5f7;
  font-size: 18px;
}

.styled-tableCard-header {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
}

.styled-tableCard-item{
  display: flex;
  flex-direction: column;

}