.styled-textArea {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
}

.styled-textArea.maxWidth {
  width: 100%;
}

.styled-textArea-form {
  border: solid #cdcdcd 1px;
  border-radius: 1px;
  font-size: 14px;
  color: #b5bac3;
  width: 100%;
  resize: none;
  outline: none;
  padding: 5px;
}

.styled-textArea-form.backgroundColor-white {
  background-color: white;
}

.styled-textArea-form.backgroundColor-gray {
  background-color: rgb(233, 233, 233);
}
