.styled-breadcrumb {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
}

.styled-breadcrumb-ul{
  display: flex;
  list-style: none;
  padding: 0;

}

.styled-breadcrumb-item {
  display: list-item;
}

.styled-breadcrumb-item a {
  font-weight: 500;
  line-height: 1.41;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}


.styled-breadcrumb-item span {
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity));
  font-weight: 500;
}
