.styled-titleLine {
  display: block;
}

.styled-titleLine-header {
  padding-bottom: 10px;
  line-height: 1.41;
  font-size: 36px;
  font-weight: inherit;
  --tw-text-opacity: 1;
  color: rgb(17 17 17 / var(--tw-text-opacity));
  margin: 0;
  position: relative;
}

.styled-titleLine-a {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.41;
}

.styled-titleLine-a::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(220 177 74 / var(--tw-bg-opacity));
  width: 70px;
  height: 4px;
  bottom: 0;
  left: 0;
  position: absolute;
  --tw-content: '';
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.styled-titleLine-center {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.41;
  --tw-text-opacity: 1;
  color: rgb(17 17 17 / var(--tw-text-opacity));
  margin: 0;
  text-align: center;
}

.styled-titleLine-center::after {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(220 177 74 / var(--tw-bg-opacity));
  --tw-translate-x: -50%;
  width: 70px;
  height: 4px;
  position: absolute;
  bottom: 0;
  --tw-content: '';
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  text-align: center;
  left: 5%;
}

.styled-titleLine-span {
  margin-left: 10px;
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity));
  font-weight: 500;
  line-height: 1.41;
}
